<div class="row">
  <div class="medium-36 columns" id="senha">
    <div id="senhaAtual" class="displayNone">
      <h3>Senha Atual:</h3>
      <h1></h1>
      <h4></h4>
    </div>
    <div id="relogio">
      <h1></h1>
    </div>
  </div>
  <div class="medium-12 columns" id="senhas">
    <h4>Senhas Anteriores:</h4>
    <div></div>
    <!-- <div class="senha">
      <h3>N934</h3>
      <h5>Negociação</h5>
    </div>
    <hr/>
    <div class="senha isPrioritario">
      <h3>M933</h3>
      <h5>Secretaria</h5>
    </div>
    <hr/>
    <div class="senha">
      <h3>M932</h3>
      <h5>Secretaria</h5>
    </div> -->
  </div>
</div>
<audio id="chamada">
  <source src="chamada.ogg" type="audio/ogg">
  Seu navegador não suporta a tag audio.
</audio>
